<div class="payment-details">
    <div class="container">
      <header class="header">
        <h1>Реквизиты для оплаты</h1>
      </header>
      
      <main class="content">
        <section class="info-section">
          <p class="intro-text">
            Я являюсь плательщиком налога на профессиональный доход (самозанятый).
            При переводе средств для оплаты моих услуг убедитесь, что платеж осуществляется на мое имя.
          </p>
          
          <div class="details-card">
            <div class="detail-item">
              <span class="label">ФИО:</span>
              <span class="value">Стребулаев Сергей Сергеевич</span>
            </div>
            
            <div class="detail-item">
              <span class="label">ИНН:</span>
              <span class="value inn">560309167631</span>
            </div>

            <div class="detail-item">
                <span class="label">Телефон:</span>
                <span class="value inn">+7 (977) 168-77-93</span>
              </div>
          </div>
          
          <p class="security-notice">
            Оплата осуществляется безопасно через защищенный сервис ЮKassa.
          </p>
        </section>
      </main>
      
      <footer class="footer">
        <p>&copy; {{currentYear}} Rezulution. Все права защищены.</p>
        <div class="legal-links">
          <a href="/terms-of-service">Пользовательское соглашение</a>
          <a href="/privacy-policy">Политика конфиденциальности</a>
          <a href="/public-offer">Публичная оферта</a>
          <a href="/requisites-page">Реквизиты</a>
        </div>
      </footer>
    </div>
</div>